.App {
  text-align: center;
}

.App-yolk {
  height: 100px;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #FFCE54; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body {
  background: radial-gradient(circle, #FFCE54, #FFCE54 60%, #FDFDFD 60%, #FFCE54);
}

.egg {
  width: 50%;
  height: 50%;
  background: radial-gradient(circle, #FFCE54 30%, transparent 30%);
  border-radius: 50%;
  border: 8px solid #FDFDFD;
}

.joke {
  width: 50%;
  height: 50%;
  border: none;
  background: transparent;
  font-size: 5vw;
  font-weight: bold;
}
