.App {
  text-align: center;
}

.App-yolk {
  height: 100px;
  pointer-events: none;
}

.App-header {
  /* background-color: #FFCE54; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}


body {
  /* background: radial-gradient(circle, #FFCE54, #FFCE54 60%, #FDFDFD 60%, #FFCE54); */
  background-image: url('yolk.png');
    /* Adjust background properties as needed */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    /* Add more styling as needed */
    background-color: #FFCE54;
}

.egg {
  width: 50%;
  height: 50%;
  background: radial-gradient(circle, #FFCE54 30%, transparent 30%);
  border-radius: 50%;
  border: 8px solid #FDFDFD;
}

.joke {
  width: 50%;
  height: 50%;
  border: none;
  background: transparent;
  text-align: center;
  /* border-radius: 50%; */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* background: radial-gradient(circle, #FFCE54 30%, transparent 30%); */

  font-size: 5vw;
  font-weight: bold;
  word-wrap: break-word;
  /* font */
  /* border-radius: 50%;
  transition: border-color 0.3s ease; */
}

.joke-container {
  height: 1000px;
  width: 100%; /* Optionally, set a fixed width or use a percentage of the parent container */
  overflow: auto; /* Prevent content overflow */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}
